*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0 5px;
    padding: 0 5px;
    vertical-align: middle;
}
/*Top navigation bar styling*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    width: 100%;
}

.navleft a:first-of-type {
    margin-left: 15px;
}

.navright a:last-child {
    margin-right: 15px;
}

#apps-icon {
    margin: 0 5px;
    padding: 0 5px;
    vertical-align: middle;
    cursor: pointer;
    color: #5f6368;
}

#sign-in {
    padding: 9px 23px;
    margin: 0 15px 0 5px;
    background: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

#sign-in:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    border: 1px solid #dadce0;
}
/*Google logo and searchbar styling*/
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

#google {
    width: 80%;
    height: 70%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    font-size: 16px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

#searchbar {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 30%;
}

#searchbar:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    border: 1px solid #dadce0;
    color: #202124;
}

#search-icon {
    margin: auto auto auto 25px;
    color:#9aa0a6;
}

#mic-button {
    margin: auto 25px auto auto;
    padding: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #9aa0a6;
}

.search-buttons {
    margin-top: 25px;
}

#searchbutton {
    padding: 10px 16px;
    margin-right: 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    color: #202124
}

#searchbutton:hover {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#luckybutton {
    padding: 10px 16px;
    margin-left: 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    color: #202124
}

#luckybutton:hover {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
/*Footer styling*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.region-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 5%;
    width: 100%;
    background: #f2f2f2;
    color: #70757a;
}

#region {
    margin-left: 15px;
    padding: 0 5px;
}

.footernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: #f2f2f2;
    color: #70757a;
    border-top: 1px solid #dadce0; 
}
